<% layout("/layouts/boilerplate") %> 
    <h1> Listings</h1>
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listings of allListing){ %>
            <a href="/listings/<%= listings._id %>" class="listing-link">
            <div class="card col list-card">
                <img src="<%= listings.image.url %>" class="card-img-top" alt="Listing Image" style="height: 20rem;" >
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><%= listings.title %></b> <br>
                  &#8377;  <%= listings.price.toLocaleString("en-IN") %> / night
                </p>
                </div>
              </div>
            </a>
              <% } %>   
    </div>