<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h1> Create New Listing</h1>
    <form action="/listings" method="POST"      class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="Enter The Title" class="form-control" required/>
        <div class="invalid-feedback">Please Enter Title</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter The Description" class="form-control" required></textarea>
        <div class="invalid-feedback">Please Enter Description</div>
    </div>
    <!-- Image link -->
    <!-- <div class="mb-3">
        <label for="image" class="form-label">Image/URL</label>
        <input type="text" name="listing[image]" placeholder="Add Image/URL" class="form-control">
    </div> -->
    <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input type="file" name="listing[image]"  class="form-control" required>
    </div>
    <!-- Image link -->
    <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" placeholder="Enter The Price" class="form-control" required/>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" placeholder="Enter The Location" class="form-control" required/>
            <div class="invalid-feedback">Please Enter Location</div>
        </div>
    </div>
   
    <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" placeholder="Enter The Country" class="form-control" required/>
        <div class="invalid-feedback">Please Enter Country</div>
    </div >
        <button class="btn btn-dark mb-3 mt-3 add-btn">Add Listing</button>
    </form>
</div>
</div>
</body>
